*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}
.header{
    font-family: 'Comfortaa', cursive;
}
.header__top{
    background-color: #33251b;
}
.header__btn{
    float: right;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    /*display: block;*/
    position: relative;
}
.header__btn:before{
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}
.header__contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header__phone,
.header__email,
.header__instagram{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
    font-family: 'Comfortaa', cursive;
}
.header__logo{
    padding-bottom: 23px;
    text-align: center;
    vertical-align: middle;
    color: #33251b;
    font-size: 35px;
    font-family: 'Pacifico', cursive;
}
.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header__phone:before{
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__email{
    padding-left: 24px;
}
.header__email:before{
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}
.header__instagram{
    position: absolute;
    padding-left: 20px;
}
.header__instagram i{
    color: #ffc222;
    font-size: 15px;
    margin-right: 5px;
}
.header__content{
    text-align: center;
    padding: 34px 0px 23px;
}
.header__content-inner{
    /*padding-bottom: 16px;*/
}
.menu li{
    /*padding-bottom: 16px;*/
    display: inline-block;
    font-family: 'Comfortaa', cursive;
}
.menu a{
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all .3s;
    font-family: 'Comfortaa', cursive;
}
.menu a:hover{
    border-color: #ffc222;
}
.menu li + li{
    padding-left: 10px;
}
#modal{
    display: none;
}
.slider{
    background-image: url(../img/table-on-wooden-plank-326279.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.slider__item-content{
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}
.slider__title{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Comfortaa', cursive;
}
.slider__text{
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}
.default-btn{
    /*bottom: -2px;*/
    padding-top: 6px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    padding: 7px 30px 7px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    z-index: 2;
    outline: none;
}
.default-btn:after{
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.slider__inner{
    position: relative;
}
.slick-btn{
    position: absolute;
    top: 70%;
    z-index: 3;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    /*сделать мышку рукой*/
    outline: none; outline;
    /*отключить синюю рамку у кнопки*/
    background-color: #ffc222;
}
.slick-btn.slick-disabled{
    cursor: default;
    background-color: transparent;
}
.slick-btn:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'icomoon';
}
.slick-next{
    right: 0;
}
.slick-next:before{
    content: "\f105";
}
.slick-prev:before{
    content: "\f104";
 }
.slick-prev:after{
    left: 0;
}
.services{
    padding: 50px 0px 30px;
}
.serv_1{
    font-size: 50px;
    color: #ffc222;
}
.serv_2{
    font-size: 50px;
    color: #ffc222;
}
.serv_3{
    font-size: 50px;
    color: #ffc222;
}
.services_top,
.news__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.services_title-box,
.form_title-box,
.news__title-box{
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}
.services_title-box:before,
.form_title-box:before,
.news__title-box:before{
    content: "";
    /*сли что-то вешаю на before то нужно обязательно .то написать*/
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 11px;
}
.services-title,
.form-title,
.news__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    font-family: 'Comfortaa', cursive;
    margin-bottom: 10px;
}
.services__text,
.form__text,
.news__title{
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.1px;
}
.services_btn a,
.news__btn a{
    /*избавляемся от эффекта флексов. была рамка внизу под ширину флекс*/
    line-height: 24px;
    color: #373636;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6;
}
.services_items{
    display: flex;
    justify-content: space-between;
}
.services_item{
    max-width: 360px;
    text-align: center;
    padding: 30px 0px 40px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services_item:hover {
    cursor: pointer;
    animation: 2s ease-in-out 0s normal none infinite running trambling-animation;
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-10deg);
    }
    20%, 40% {
        transform: rotate(10deg);
    }
}
.services_item-title{
    color: #212020;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    padding: 24px 0;
}
.services_item-text{
    letter-spacing: 0.1px;
    padding: 0px 30px 30px;
    font-family: 'Raleway', sans-serif;
}
.services_item-btn{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services_item-btn .default-btn{
     color: #373636;
 }
.services_item-btn .default-btn:after{
    color: #fff;
}
.services_item-link{
    color: #050505;
    border-bottom: 1px solid #050505;
    font-family: 'Comfortaa', cursive;
    margin-right: 60px;
}
/*тень. выдеяшь ее в фотошопе. и выбираешь копировать css. нужен только box-shadow*/
.about{
    background-image: url("../img/fruits-eating-food-on-wood-326268.jpg");
    background-size: cover;
    background-position: center;
    min-height: 750px;
    background-repeat: no-repeat;
    padding: 25px 0px 45px;
}
.about__inner{
    max-width: 545px;
    /*background: rgba(0, 0, 0, 0.5);*/
}
.about__title{
    font-family: 'Comfortaa', cursive;
    font-size: 35px;
    padding: 200px 0px 25px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
}
.about__text{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.1px;
    line-height: 24px;
    color: white;
}
.about__btn.default-btn:after{
    color: black;
}
.form{
    padding-top: 30px;
}
.form_inner{
    padding-bottom: 40px;
    /*background-image: url("../img/dish2.png");*/
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
}
.form_inner img{
    vertical-align: central;
    position: absolute;
    width: 450px;
    height: 450px;
    right: -230px;
    bottom: 12px;
}
.form_box{
    max-width: 850px;
    padding-top: 45px;
}
.form_box-inner{
    display: flex;
    justify-content: space-between;
}
.form_box-left{
    max-width: 260px;
    width: 100%;
}
.form__box-right{
    max-width: 555px;
    width: 100%;
}
.form_box-inner label,
.form_box-inner input,
.form_box-inner textarea{
    display: block;
    width: 100%;
}
.form_box-inner label{
    line-height: 36px;
    color: #282828;
}
.form_box-inner input{
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid black;
    padding: 0px 10px;
/*чтобы внутри инпута  буквы не прилипали по краям*/
}
.form_box-inner select{
    outline: none;
    background: transparent;
    padding-left: 17px;
    border-radius: 0;
    box-shadow: none;
}
/*!*.form_box-inner .jq-selectbox__trigger-arrow:before{*!    если нужно сделать стрелку как на макете, я сделал по другому, если нужно как в макете, то скачать у него с готового кода*/
/*     content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  right: 17px;
  top: 0;
  transform: rotate(90deg); повернуть на 90 градусов стрелочку
/*}*/
.form_box-inner .jq-selectbox.jqselect{
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}
option{
    font-family: 'Raleway', sans-serif;
}
.form_box-inner textarea{
    outline: none;
    border: 1px solid black;
    padding: 10px;
    height: 208px;
    resize: none;
    margin-bottom: 40px;
    /*чтобы текстареа не могла менять свой размер*/
}
.form_box-inner button{
    background-color: transparent;
    color: #282828;

/*margin внешний отступ*/
/*    padding внутренний отступ*/
}
.form_box-inner  .jq-selectbox__select{
    height: 40px;
    border: 1px solid black;
    border-radius: 0;
    background: transparent;
}
.advantages{
    padding: 25px 0px 35px;
    background-image: url(../img/close-up-of-wooden-plank-326311.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 285px;
    background-size: cover;
}

.containerMenu{
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
/*.menu{*/
/*    height: 1000px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
.menuMain{
    color: lightgray;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-family: 'Comfortaa', cursive;
}
.text4{
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}
.text41{
    color: white;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}
.textp4{
    color: #d3d2d2;
    font-size: 16px;
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
}
.menuLeft .menuCenter .menuRight{
    margin-right: 130px;
    height: 800px;
    width: 440px;
}
.blmenu{
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-bottom: 0px;
}
.log4{
    margin-left: 80px;
    margin-bottom: 15px;
}
.main4 .textp4{
    margin-bottom: 5px;
}
.gallery{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.gallery{
    margin-top: 45px;
    margin-bottom: 45px;
}
/*.gallery img{*/
/*    opacity: 0.7;*/
/*}*/
.gallery img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.footer__content{
    /*background-color: #595959;*/
    padding: 20px 0px 30px;
    background-image: url(../img/close-up-of-wooden-plank-326311.jpg);
}
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__inner .header__btn{
    float: none;
    display: inline-block;
}
.footer__map{
    padding-top: 10px;
    max-width: 630px;
    width: 100%;
}
.footer__map iframe{
    width: 100%;
}
.footer__title{
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer__text{
    color: #d3d2d2;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
}
.footer__info{
    max-width: 388px;
    text-align: center;
}
.footer__list{
    padding-top: 10px;
}
.footer__list li{
    margin-top: 10px;
}
.footer__list a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #fff;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    padding-left: 33px;
    position: relative;
}
.footer__list a:before{
    content: '\f003';
    position: absolute;
    left: 0;
    color: #ffc222;
    font-family: 'icomoon';
}
.footer__list .footer__phone:before{
    content: "\f095";
    left: 3px;
}
.footer__list .footer__adress:before{
    content: "\f041";
    left: 3px;
}
.footer__copy{
    background-color: #303030;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    padding: 8px 0;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
}
.copy__text{
    font-size: 17px;
}
#modal{
    width: 300px;
}
#modal input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}
#modal input[type="submit"]{
    /*выбрать input с типом submit*/
    background-color: #ffc222;
    border: none;
}
.header__btn-menu{
    display: none;
    font-size: 28px;
}
